@model CC.Context.Record

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container body-content">
        <h2>Подробное описание</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayName("Никнейм автора")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NickName)
                </dd>

                <dt>
                    @Html.DisplayName("Заголовок")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayName("Описание")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Назад", "AllRecords", "Record")
        </p>
    </div>
</body>
</html>


