@model CC.Context.ContextModels.Record

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body{

    <div class="container body-content font18">
        <h2>Подробное описание</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayName("Псевдоним автора"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NickName)
                </dd>

                <dt>
                    @Html.DisplayName("Дата"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RecordDate)
                </dd>

                <dt>
                    @Html.DisplayName("Заголовок"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <hr />

                <dt>
                    @Html.DisplayName("Описание"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Назад", "AllRecords", "Record")
        </p>
    </div>

}

@section footer{
    <p class="font18">
        &copy; @DateTime.Now.Year - Coffee-Cup
    </p>
}





