@model CC.Context.ContextModels.Cafe

@{
    ViewBag.Title = "DeleteDescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section body{


    <div class="container body-content font18">
        <h2>Удаление заведения</h2>

        <h3>Вы потеряете все данные, Вы действительно хотите удалить Ваше заведение?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Название")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayName("Описание")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>

            @using (Html.BeginForm("DeleteDescription", "Cafe"))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.Id)

                <div class="form-actions no-color">
                    <input type="submit" value="Удалить" class="btn btn-primary" /> |
                    @Html.ActionLink("Назад", "UserCafe", "Cafe")
                </div>
            }
        </div>
    </div>

}

@section footer{
    <p class="font18">
        &copy; @DateTime.Now.Year - Coffee-Cup
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


