@model CC.Context.ContextModels.Cafe

@{
    ViewBag.Title = "GetCafe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body{

    <div class="container body-content font18">
        <div>
            <h2>Подробное описание</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Назавание заведения"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <hr />

                <dt>
                    @Html.DisplayName("Описание заведения"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>
        <p>
            @if (Session["AdminRole"] != null)
            {
                @Html.ActionLink("Назад", "UserCafe", "Cafe")
            }
            else
            {
                @Html.ActionLink("Назад", "ListOfCafes", "Cafe")
            }
        </p>
    </div>

}

@section footer{
    <p class="font18">
        &copy; @DateTime.Now.Year - Coffee-Cup
    </p>
}




