@model IEnumerable<CC.Context.Cafe>

@{
    ViewBag.Title = "UserCafe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container body-content">
        <h2>Список Ваших заведений</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Название заведения")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <a href="~/Cafe/GetCafe/@item.Id">Подробнее</a> |
                        <a href="~/Cafe/EditDescription/@item.Id">Редактировать</a> |
                        <a href="~/Cafe/DeleteDescription/@item.Id">Удалить</a>
                        @*@Html.ActionLink("Подробнее", "GetCafe", "Cafe", new { id = item.Id }) |
                        @Html.ActionLink("Редактировать", "EditDescription", "Cafe", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "DeleteDescription", "Cafe", new { id = item.Id })*@
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Назад", "AccountIndex", "Manage")
    </div>
</body>
</html>


