@model Domain.Entities.News

@{
    ViewBag.Title = "Details";
    ViewBag.Time1 = "1 минута";
    ViewBag.Time2 = "минуты";
    ViewBag.Time3 = "минут";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayName("Примерное время чтения:")

            Model.Body.Length / 1500 <= 1
            {
            @ViewBag.Time1;
            }
            else
            {
            @(Model.Body.Length / 1500)
            }
            Model.Body.Length / 1500 <= 1
            { }
            else if (Model.Body.Length > 3000 && Model.Body.Length < 6000)
            {
            @ViewBag.Time2;
            }
            else
            {
            @ViewBag.Time3;
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>
        Model.ImageData != null
        {
        <dd class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="500" height="500"
                 src="@Url.Action("GetImage", "News",
new { Model.NewsID })" />
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.editor1)
        </dt>

        <dd>
            @Html.Raw(Model.editor1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
public ActionResult Details(int NewsID)
{
News news = repository.News.FirstOrDefault(n => n.NewsID == NewsID);
return View(news);

}

