<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Заведения", "ListOfCafes", "Cafe")</li>
    <li>@Html.ActionLink("Новости", "AllRecords", "Record")</li>
</ul>

@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "Acc" }))
{
}

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Чат", "Chat", "Home")</li>
    <li>@Html.ActionLink("Магазин", "OrderIndex", "Order")</li>
    <li>@Html.ActionLink("Список пользователей", "ListOfUsers", "Manage")</li>
    <li>@Html.ActionLink("Мой аккаунт", "AccountIndex", "Manage")</li>

    <li>
        <a href="javascript:document.getElementById('Acc').submit()">Выход</a>
    </li>

    @*<li>@Html.ActionLink("Выход", "Logout", "Account")</li>*@
</ul>

