<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Заведения", "ListOfCafes", "Cafe")</li>
    <li>@Html.ActionLink("Новости", "AllRecords", "Record")</li>
    <li><a href="javascript://0" onclick="slowScroll('#about')">Что такое Coffee-Cup</a></li>
    <li><a href="javascript://0" onclick="slowScroll('#alg')">Как это работает</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Магазин", "OrderIndex", "Order")</li>
    <li>@Html.ActionLink("Вход", "Login", "Account")</li>
    <li>@Html.ActionLink("Регистрация", "Create", "Account")</li>
</ul>
