@if (Session["UserRole"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Мой аккаунт", "AccountIndex", "Manage")</li>
        <li>@Ajax.ActionLink("Выход", "Logout", "Account", new AjaxOptions { UpdateTargetId = "header" })</li>
    </ul>
}

@if (Session["ModerRole"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Добавить новость", "AddRecord", "Manage")</li>
        <li>@Html.ActionLink("Мой аккаунт", "AccountIndex", "Manage")</li>
        <li>@Ajax.ActionLink("Выход", "Logout", "Account", new AjaxOptions { UpdateTargetId = "header" })</li>
    </ul>
}

@if (Session["AdminRole"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Список пользователей", "ListOfUsers", "Manage")</li>
        <li>@Html.ActionLink("Мой аккаунт", "AccountIndex", "Manage")</li>
        <li>@Ajax.ActionLink("Выход", "Logout", "Account", new AjaxOptions { UpdateTargetId = "header" })</li>
    </ul>
}