<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Заведения", "ListOfCafes", "Cafe")</li>
    <li>@Html.ActionLink("Новости", "AllRecords", "Record")</li>
    <li><a href="/#about" onclick="slowScroll('#about')">Что такое Coffee-Cup</a></li>
    <li><a href="/#alg" onclick="slowScroll('#alg')">Как это работает</a></li>
</ul>

@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "Acc" }))
{
}

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Магазин", "OrderIndex", "Order")</li>
    <li>@Html.ActionLink("Добавить новость", "AddRecord", "Record")</li>
    <li>@Html.ActionLink("Мой аккаунт", "AccountIndex", "Manage")</li>

    <li>
        <a href="javascript:document.getElementById('Acc').submit()">Выход</a>
    </li>

    @*    <li>@Html.ActionLink("Выход", "Logout", "Account")</li>*@
</ul>
