<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Заведения", "ListOfCafes", "Cafe")</li>
    <li>@Html.ActionLink("Новости", "AllRecords", "Manage")</li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Магазин", "OrderIndex", "Order")</li>
    <li>@Html.ActionLink("Мой аккаунт", "AccountIndex", "Manage")</li>
    <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
</ul>
