@model CC.Context.ContextModels.User

@{
    ViewBag.Title = "AccountIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body{

    <div class="container body-content font18">
        <div>
            <h2>Мой аккаунт</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Никнейм"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NickName)
                </dd>

                <hr />

                <dt>
                    @Html.DisplayName("Имя"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <hr />

                <dt>
                    @Html.DisplayName("Фамилия"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserSurname)
                </dd>

                <hr />

                <dt>
                    @Html.DisplayName("Ваши права"):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserRoleName)
                </dd>

                <hr />

                <dt>
                    @Html.DisplayName("Количество")
                    <img class="little-img" src="~/Content/Pictures/coin.svg" />:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserCoins)
                </dd>

                <hr />

                <dt>
                    @Html.DisplayName("Количество")
                    <img class="little-img" src="~/Content/Pictures/tickets.svg" />:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserTickets)
                </dd>

                <hr />

            </dl>
        </div>
        <p>
            @Html.ActionLink("На главную", "Index", "Home") |
            @Html.ActionLink("Изменить личные данные", "EditUserData", "Manage") |
            @Html.ActionLink("Изменить пароль", "EditUserPassword", "Manage") |
            @Html.ActionLink("Удалить аккаунт", "Delete", "Manage")
        </p>

        <p>
            @if (Request.Cookies["Moder"] == null)
            {
                @Html.ActionLink("Получить права модератора", "GetModer", "Account")
            }
            else
            {
                Html.RenderPartial("_AccountModer");
            }
        </p>

        <p>
            @if (Request.Cookies["Admin"] == null)
            {
                @Html.ActionLink("Получить права администратора", "GetAdmin", "Account")
            }
            else
            {
                Html.RenderPartial("_AccountAdmin");
            }
        </p>
    </div>

}

@section footer{
    @{
        Html.RenderPartial("_MiniFooter");
    }
}



