@model CC.Context.User

@{
    ViewBag.Title = "AccountIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container body-content">
        <div>
            <h2>Мой аккаунт</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Никнейм")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NickName)
                </dd>

                <dt>
                    @Html.DisplayName("Имя")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayName("Фамилия")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserSurname)
                </dd>

                <dt>
                    @Html.DisplayName("Ваши права")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserRoleName)
                </dd>

                <dt>
                    @Html.DisplayName("Количество Coffee-Coins")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserCoins)
                </dd>

                <dt>
                    @Html.DisplayName("Количество купонов на кофе")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserTickets)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("На главную", "Index", "Home") |
            @Html.ActionLink("Изменить личные данные", "EditUserData", "Manage") |
            @Html.ActionLink("Изменить пароль", "EditUserPassword", "Manage") |
            @Html.ActionLink("Удалить аккаунт", "Delete", "Manage") |

            @if (Session["ModerRole"] != null)
            {
                Html.RenderPartial("_AccountPartial");
            }
            
            @if (Session["ModerRole"] == null)
            {
                @Html.ActionLink("Получить права модератора", "GetModer", "Account")
            }
             |
            @if (Session["AdminRole"] == null)
            {
                @Html.ActionLink("Получить права администратора", "GetAdmin", "Account")
            }
        </p>
    </div>
</body>
</html>


