@model IEnumerable<CC.Context.User>

@{
    ViewBag.Title = "ListOfUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container body-content">
        <h2>Список пользователей</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Никнейм")
                </th>
                <th>
                    @Html.DisplayName("Имя")
                </th>
                <th>
                    @Html.DisplayName("Фамилия")
                </th>
                <th>
                    @Html.DisplayName("Количество купонов на кофе")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NickName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserTickets)
                    </td>
                    <td>
                        @Html.ActionLink("Обналичить купон", "UseTickets", "Manage", new { item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>


