@*@model IEnumerable<CC.Context.ContextModels.User>*@

@{
    ViewBag.Title = "ListOfUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body{

    <div class="container body-content font18">
        <h2>Список пользователей</h2>

        @using (Ajax.BeginForm("ListOfUsers", "Manage", new AjaxOptions { UpdateTargetId = "table", Url = Url.Action("TableData") }, htmlAttributes: new { @id = "myForm" }))
        {
            <input type="text" name="NickName" form="myForm" class="search" placeholder="Введите никнейм пользователя" style="width: 450px" />
            <input type="submit" value="Поиск" class="btn btn-info" />

            <br />

            <table class="table table-bordered table-hover" style="margin-top: 20px;">
                <tr>
                    <th>
                        @Html.DisplayName("Никнейм")
                    </th>
                    <th>
                        @Html.DisplayName("Имя")
                    </th>
                    <th>
                        @Html.DisplayName("Фамилия")
                    </th>
                    <th class="to-centre">
                        @Html.DisplayName("Количество")
                        <img class="little-img" src="~/Content/Pictures/tickets.svg" />
                    </th>

                    <th></th>
                </tr>

                <tbody id="table">
                    @Html.Action("TableData", new { NickName = Model })
                </tbody>

            </table>
        }



    </div>

}

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/AutoSearch.js"></script>
}

@section footer{
    <p class="font18">
        &copy; @DateTime.Now.Year - Coffee-Cup
    </p>
}





