@model IEnumerable<CC.Context.ContextModels.User>

@{
    ViewBag.Title = "ListOfUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body{

    <div class="container body-content font18">
        <h2>Список пользователей</h2>

        @using (Html.BeginForm("ListOfUsers", "Manage", FormMethod.Get))
        {
            <input type="text" name="NickName" placeholder="Введите никнейм пользователя" />
            @*@Html.TextBox("NickName")*@ <input type="submit" value="Поиск" placeholder="Введите никнейм пользователя" />
        }

        <br />

        <table class="table table-bordered table-hover" id="table">
            <tr>
                <th>
                    @Html.DisplayName("Никнейм")
                </th>
                <th>
                    @Html.DisplayName("Имя")
                </th>
                <th>
                    @Html.DisplayName("Фамилия")
                </th>
                <th class="to-centre">
                    @Html.DisplayName("Количество")
                    <img class="little-img" src="~/Content/Pictures/tickets.svg" />
                </th>

                <th></th>
            </tr>

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" style="color: red;">
                        Пользователь не найден
                    </td>
                </tr>
            }

            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NickName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserSurname)
                    </td>
                    <td class="to-centre">
                        @Html.DisplayFor(modelItem => item.UserTickets)
                    </td>
                    <td class="to-centre">
                        <a href="~/Manage/UseTickets/@item.Id">Обналичить купон</a>
                    </td>
                </tr>
            }

        </table>
    </div>

}

@section footer{
    @{
        Html.RenderPartial("_Footer");
    }
}





